/* 共通設定 */
html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 3.4rem;
}
img {
  max-width: 100%;
  height: auto;
}
.about h3 {
  font-size: 2.4rem;
}
p {
  font-size: 1.8rem;
}

/* PCスタイル */
body {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

#menu {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 11px 28px 12px 29px;
  font-weight: bold;
}

header h1 {
  border: 1px solid black;
}
.menu-list {
  display: flex;
}
.menu-list:first-child {
  gap: 20px;
}

#main-visual {
  width: 100%;
  max-width: 100%;
}

.main-inner {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.about {
  display: flex;
  justify-content: center;
}