/* 共通設定 */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 34px;
}
.about h2 {
  font-size: 24px;
}
p {
  font-size: 18px;
}

/* PCスタイル */
body {
  max-width: 1200px;
  min-width: 768px;
}

header {
  display: flex;
  justify-content: space-between;
}
header h1 {
  border: 1px solid black;
}
nav ::first-letter{
  margin-right: 20px;
}

#main-visual {
  max-width: 100%;
}